* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
    padding-top: 5%;
}

.form-label {
    font-size: small;
    text-align: right;
    margin-right: 4px;
}


.form-control {
    width: 90%;
    margin-right: 5%;
    outline:none;
}

.fields {
    display: grid; 
    grid-template-columns: 50% 50%; 
    row-gap:10px; 
    padding-top:8px;
}

.create-account-container {
    text-align: center;
    vertical-align: top;
    display:inline-flex;
    flex-flow: column;
    border-radius: 25px;
    width: 40%;
    height: 50vh;
    margin-left: 5%; 
    margin-top:2.5%;
    background-color: #bfe4ff;
}

.account-img {
    width: 40%; 
    align-self: center;
}

.ca-input-form {
    display:flex; 
    flex-direction: column;
    flex-grow:100; 
}

.create-account-btn {
    margin-top:auto;
    margin-bottom:10px;
    align-self: center;
}