.header {
  background-color: #BFE4FF;
  align-items: center;
  padding: 20px;
}

/* Logo position and animation */
.header .logo {
  height: 130px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); 
  }
}   

/* navigation Bar Styling */
.header .nav {
  display: flex;
  justify-content: space-between;
}

/* header button styling */
.header button {
  background: none;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #1F3266;
  outline: none;
  font-size: 22px; 
}

.header button:focus,
.header button:hover {
  text-decoration: underline; 
}

.header button:hover,
.header button.active {
  text-decoration: underline;
}