.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}
  
.search-bar-input {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #f7f7f7;
    box-shadow: none;
    outline: none;
}

.search-icon {
    color: #000; 
    margin-right: 10px;
    font-size: 20px;
}