.logo {
  width: 20%; 
}

.text {
  width: 70%;
  margin-left: 15%;
  text-align: justify;
  color: #3967ab;
}

.account-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  gap: 40px;
  padding: 20px;
}