.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.loading-icon {
  width: 250px;
  height: 250px;
  animation: rotate180 1s infinite alternate;
}

@keyframes rotate180 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}