body, html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff; 
  font-family: Arial, sans-serif;
  color: #000;
  width: 100%;
}

h2 {
  color: #1F3266;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.margin {
  margin: 20px;
}

.button {
  margin: 20px; 
  padding: 10px 40px;
  background-color: #1F3266; 
  color: white; 
  border: none; 
  border-radius: 11px; 
  cursor: pointer; 
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #3967AB; 
}